# Binaries & Build Output
bin/
build/
*.o
*.a
*.so
*.dylib
*.exe

# Temporary files
*.tmp
*.log
.DS_Store

# Scratch & test outputs
/tmp/
*.nvc
tests/my_test_calc.nv
.nextviper/
nextviper_modules/
dist/
__pycache__/
